.env
cache/
artifacts/
typechain/
node_modules/
dist/
build/

deployed-contracts.json

coverage*
.coverage_artifacts
.coverage_cache
.coverage_contracts

contractsInfo.json
deployments/hardhat
deployments/localhost

tenderly.yaml

.idea
.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default
